<div
  [ngClass]="currentTheme === 'light' ? 'group' : 'group-dark'"
  class="group">
  <h2 class="group__title">Groups</h2>
  <div class="block-control">
    <div class="block-control__update">
      <button
        [disabled]="timerGroupSubscription | async"
        (click)="updateGroup()">
        <div
          [class]="
            (timerGroupSubscription | async)
              ? 'img-update-disabled'
              : 'img-update'
          "></div>
      </button>
      <p>Update group:</p>
      <div *ngIf="timerGroupSubscription | async">
        {{ timerGroupSubscription | async }} second
      </div>
    </div>
    <div class="block-control__create">
      <button (click)="showForm()">
        <div class="img-add"></div>
      </button>
      <p>Create new group</p>
    </div>

    <div *ngIf="isShowForm" class="popup-create">
      <form
        *ngIf="groupNameForm"
        [formGroup]="groupNameForm">
        <label for="group-name"></label>
        <input
          placeholder="Enter the group name"
          formControlName="nameGroup"
          id="group-name"
          type="text"/>
        <button
          (click)="createGroup()"
          [disabled]="nameGroup.invalid">
          Add
        </button>
        <button (click)="hideForm()">Cancel</button>
      </form>
      <div
          *ngIf="nameGroup.invalid && (nameGroup.dirty || nameGroup.touched)"
          class="group__error-container">
          <span
            *ngIf="nameGroup.errors && nameGroup.errors['required']"
            class="group__error-message"
            >Please enter a details</span
          >
          <span
            *ngIf="nameGroup.errors && nameGroup.errors['maxlength']"
            class="group__error-message"
            >The name exceeds 30 characters</span
          >
          <span
            *ngIf="nameGroup.errors && nameGroup.errors['pattern']"
            class="group__error-message"
            >The name must contain only letters, numbers, or spaces</span
          >
        </div>
    </div>
  </div>
  <div class="field">
    <ul *ngIf="groupList$ | async as groupList" class="field__list">
      <li *ngFor="let item of groupList">
        <a [routerLink]="'/group/' + item.id.S">{{
          item.name.S
        }}</a>
        <button
          type="button"
          *ngIf="item.createdBy.S === currentUid && !isShowDeleteGroup"
          (click)="deleteGroup()">
          <div class="img-delete"></div>
        </button>

        <div
          class="popup-delete"
          *ngIf="item.createdBy.S === currentUid && isShowDeleteGroup">
          <p>Are you sure?</p>
          <div class="popup-delete__box-btn">
            <button (click)="confirmDeleteGroup(item.id.S)" class="popup-delete__btn">
              Yes
            </button>
            <button (click)="noConfirmDeleteGroup()" class="popup-delete__btn">
              No
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
