@import '../../../../styles.scss';

.group {
    @include details($form-background, $black);
    border: 1px solid $black-light;
    box-shadow: 0 0 10px $black-light;

    &__title {
        @include font-size-weigh(1.125rem, 700);
        text-align: center;
        color: $black;
        margin: 0 0 20px 0;
        color: inherit;
    }

    .block-control {
        border: inherit;
        border-radius: 15px;
        padding: 20px;

        &__update {
            @extend %box;
            margin: 0 0 20px 0;

            button {
                background: inherit;
                font-weight: 700;

                &:disabled {
                    background: inherit;
                    cursor: not-allowed;
                }

                .img-update {
                    @include background-size($size-img-user);
                    background-image: $icon-update;
                }

                .img-update-disabled {
                    @include background-size($size-img-user);
                    background-image: $icon-update;
                    opacity: 0.3;
                }
            }
        }

        &__create {
            @extend %box;

            button {
                background: inherit;
                font-weight: 700;

                .img-add {
                    @include background-size($size-img-user);
                    background-image: $icon-add;
                }
            }
        }
    }


    .field {
        height: 80%;
        border: inherit;
        border-radius: 15px;
        overflow: auto;
        color: inherit;
        box-shadow: inherit;

        &__list {
            padding: 0 20px;
            @extend %flex-column;
            gap: 10px;
            border: inherit;
            border-radius: 15px;
            color: inherit;
            box-shadow: inherit;

            li {
                @extend %flex;
                border: inherit;
                border-radius: 15px;
                padding: 10px;
                color: inherit;
                overflow: hidden;
                &:hover {
                    box-shadow: inherit;
                    font-weight: 700;
                }
                a {
                    color: inherit;
                    &:hover {
                        font-weight: 700;
                    }
                }
                .img-delete {
                    background-image: $icon-delete;
                    @include background-size(20px);
                }
            }
        }
    }


    &__error-container {
        @extend %flex;

    }
    &__error-message {
        color: $red;
        margin: 0 0 0 10px;
        @include font-size-weigh( 0.8rem, 400);
    }
}

.group-dark {
    @include details($form-background-dark, $white-color);
    border: 1px solid $white-color;
    box-shadow: 0 0 10px $white-color;
}

.popup-create {
    @include position-absolute-left(50%, 50%);
    @extend %flex-column;
    @include font-size-weigh(1rem, 700);
    width: 400px;
    height: 120px;
    margin: -100px 0 0 -200px;
    padding: 0;
    border-radius: 15px;
    border: 2px solid $black;
    background: $background-color-popup;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        gap: 15px;

        label {
            @include font-size-weigh(1rem, 400);
            margin: 0 10px 2px 0;
            color: $font-grey;
        }
        input {
            padding: 0 10px;
            border: none;
            border-radius: 10px;
            background-color: $input-background;
            width: 50%;
            height: 30px;
        }

        button {
            @extend %btn-form;
            width: 50px;
            height: 30px;
            margin: 0 0 15px 0;
        }
    }
}

.popup-delete {
    @include position-absolute-left(50%, 50%);
    @extend %flex-column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: -50px 0 0 -100px;
    padding: 20px 0;
    border-radius: 15px;
    border: 2px solid $black;
    gap: 10px;
    background: $background-color-popup;
    color: $black;
    @include font-size-weigh(1rem, 700);

    &__box-btn {
        @extend %flex;
        gap: 15px;
    }

    &__btn {
        @extend %btn-form;
        width: 50px;
        height: 27px;
        margin: 0;
    }
}