@import '../../../../styles.scss';

.people {
    @include details($form-background, $black);
    border: 1px solid $black-light;
    box-shadow: 0 0 10px $black-light;

    &__title {
        @include font-size-weigh(1.125rem, 700);
        text-align: center;
        color: $black;
        margin: 0 0 20px 0;
        color: inherit;
    }

    .block-control {
        border: inherit;
        border-radius: 15px;
        padding: 20px;

        &__update {
            @extend %box;
            margin: 0 0 20px 0;

            button {
                background: inherit;
                font-weight: 700;

                &:disabled {
                    background: inherit;
                    cursor: not-allowed;
                }

                .img-update {
                    @include background-size($size-img-user);
                    background-image: $icon-update;
                }

                .img-update-disabled {
                    @include background-size($size-img-user);
                    background-image: $icon-update;
                    opacity: 0.3;
                }
            }
        }
    }

    .field {
        height: 80%;
        border: inherit;
        border-radius: 15px;
        overflow: auto;
        color: inherit;
        box-shadow: inherit;

        &__list {
            padding: 0 20px;
            @extend %flex-column;
            gap: 10px;
            border: inherit;
            border-radius: 15px;
            color: inherit;
            box-shadow: inherit;

            li {
                @extend %flex;
                border: inherit;
                border-radius: 15px;
                padding: 10px;
                color: inherit;
                overflow: hidden;
                &:hover {
                    box-shadow: inherit;
                    font-weight: 700;
                }
                button {
                    color: inherit;
                    background: inherit;
                    &:hover {
                        font-weight: 700;
                    }
                }
                .img-delete {
                    background-image: $icon-delete;
                    @include background-size(20px);
                }
            }
            .companions_item {
                border: 1px solid $black;
                background-color: $color-companions;
                color: $black;
            }
        }
    }
}


.people-dark {
    @include details($form-background-dark, $white-color);
    border: 1px solid $white-color;
    box-shadow: 0 0 10px $white-color;
}