<div
  [ngClass]="currentTheme === 'light' ? 'people' : 'people-dark'"
  class="people">
  <h2 class="people__title">People</h2>
  <div class="block-control">
    <div class="block-control__update">
      <button
        [disabled]="timerPeopleSubscription | async"
        (click)="updatePeople()">
        <div
          [class]="
            (timerPeopleSubscription | async)
              ? 'img-update-disabled'
              : 'img-update'
          "></div>
      </button>
      <p>Update people:</p>
      <div *ngIf="timerPeopleSubscription | async">
        {{ timerPeopleSubscription | async }} second
      </div>
    </div>
  </div>
  <div class="field">
    <ul *ngIf="peopleList$ | async as peopleList" class="field__list">
      <li
        *ngFor="let item of peopleList"
        [ngClass]="{
          companions_item:
            item.uid.S | companionsColorPipe: peopleConversationList
        }">
        <button
          (click)="openPeopleConversation(item.uid.S)"
          class="people__btn-link">
          {{ item.name.S }}
        </button>
      </li>
    </ul>
  </div>
</div>
