@import '../../../../styles.scss';

.signin {
    @include form($form-background, $black);

    &__title {
        @include font-size-weigh(1.125rem, 700);
        color: inherit;
        margin: 0 0 20px 0;
    }

    &__field {
        @extend %flex-column;
        margin: 0 0 15px 0;
    }

    &__label {
        color: $font-grey;
        @include font-size-weigh(1rem, 400);
        margin: 0 0 2px 10px;
    }

    &__input {
        @extend %input-text;
        width: 100%;
        padding: 0 10px;
        margin: 0 0 5px 0;
    }

    &__link-signup {
        @extend %flex;
        padding: 0 5px;

        button {
            @extend %button-link;
        }
    }

    &__btn {
        @extend %btn-form;
    }

    &__error-container {
        display: flex;
    }

    &__error-message {
        color: $red;
        @include font-size-weigh(0.8rem, 400);
        margin-left: 10px;
    }
}

.signin-dark {
    @include form($form-background-dark, $white-color);
}

